asgiref==3.9.1
attrs==25.3.0
crispy-bootstrap5==0.6
Django==4.0.10
django-crispy-forms==1.13.0
djangorestframework==3.13.1
drf-spectacular==0.21.2
inflection==0.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
pillow==11.3.0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.27.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
psycopg2-binary==2.9.3