{% extends "_base.html" %}

{% block title %}{{post.title}}{% endblock title %}

{% block content %}
{% if '/preview/' in request.path %}
    <p><strong>این یک پیش‌نمایش است.</strong></p>
    <p>وضعیت فعلی پست: <strong>{{ post.get_status_display }}</strong></p>
{% endif %}
{% comment %} {% if post in user.articles.all %} {% endcomment %}
{% if post.author == user %}
<div>

    <a href="{% url 'postupdate' post.pk %}">اپدیت پست</a>
    <a href="{% url 'postdelete' post.pk %}">حذف پست</a>
</div>
{% endif %}
<p>{{post.title}}</p>
<p style="text-align: right;">
    <img src="{{post.image.url}}" alt="{{post.title}}" width="400">
</p>

<p>{{post.body}}</p>
<p>نویسنده:{{post.author}}</p>

<h4>افزودن کامنت</h4>
    <form action="{% url 'commentadd' %}" method="post">
        {% csrf_token %}
        {{comment_form}}

        <input type="hidden" name="content_type_id" value="{{content_type_id}}">
        <input type="hidden" name="object_id" value="{{post.id}}">
        <button type="submit">ارسال</button>

    </form>
<h2>کامنت ها</h2>
{% for comment in post.approved_comments %}
    <p>کاربر{{comment.author.username}}: {{comment.body}}</p>
    <br>
{% endfor %}
{% endblock content %}