{% extends "_base.html" %}

{% block title %}لیست مقالات{% endblock title %}

{% block content %}
{% for post in page_obj %}
<p><a href="{% url 'postdetail' post.pk %}">{{post.title}}</a></p>
<p>{{post.body}}</p>
<p>نویسنده: <a href="{% url 'authorlist' post.author.username %}">{{post.author}}</a></p>
<p>تاریخ: {{post.created_at}}</p>
<br><br>
{% endfor %}


<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولین</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span>
            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}