<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
        <a href="{% url 'cartdetail' %}">سبد خرید</a>
      {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}">signup</a>
      {% endif %}
        <a href="{% url 'postlist' %}">بلاگ</a>
    </header>
    {% block content %}
    
    {% endblock content %}
  </body>
</html>
